{% extends 'tourpackage/basic.html' %}
{% block title %} Search HomePage {% endblock %}
{% block css %} 
        .col-md-3{
          display: inline-block;
          margin-left:-4px;
        }

        body .carousel-indicators .active{
          background-color: blue;
        }

        .col-md-3 img{
          max-width: 300px;
          height: 200px;
        }

        body .carousel-item {
          width: 1250px;
        }

        body .carousel-indicators li{
          background-color: blue;
        }

        body .carousel-indicators{
          bottom: -50px;
        }

        body .carousel-control-prev-icon,
        body .carousel-control-next-icon{
          background-color: blue;
        }

        .carousel-item-control-prev, 
        .carousel-item-control-next {
          top: auto;
          bottom: auto;
        }

        .carousel-indicators [data-bs-target] {
          background-color: #7270fc;
        }  

        body .no-padding{
          padding-left: 0,
          padding-right:0;
        }

{% endblock %}

{% block body %}
{% load static %}
<div class="container">

      {% comment %} SlideShow starts here {% endcomment %}
  {% for package, range, nSlides in allPackage %}
      <h3 class="my-4 mx-4">{{package.0.category}}</h3>
      <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active "></li>

           {% for i in range %}
          <li data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{i}}"></li>
           {% endfor %} 
        </ul>
        
        <div class="container carousel-inner no-padding">
          {% comment %} <h5>Jackpot Deals on Top Selling Packages</h5> {% endcomment %}
          <div class="carousel-item active">
            {% comment %} Card 2 {% endcomment %}

            {% for i in package %}
            <div class="col-xs-3 col-sm-3 col-md-3">
              <div class="card mx-3" style="width: 18rem;">
                <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title" id="cardname{{i.id}}"><b>{{i.package_name}}</b></h4>
                  <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
                  <h6 class="card-title" id="pricepr{{i.id}}">₹ <b>{{i.price}}</b> per person</h6>
                  <a href="/tourpackage/checkout/{{i.id}}"><button id="pk{{i.id}}" class="btn btn-primary cart">Book Now</button></a>
                  <a href="/tourpackage/packages/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">Qick View</button></a>
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
              </div>
              <div class="carousel-item ">
            {% endif %}
     
            {% endfor %}
              </div>
          </div>
        </div>

    {% comment %} left and right control for slide {% endcomment %}
    <a class="carousel-item-control-prev" href="#demo{{forloop.counter}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-item-control-next" href="#demo{{forloop.counter}}" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  {% comment %} </div> {% endcomment %}
  {% endfor %}

</div>
{% endblock %}

{% block js %} 

<script>

    {% if msg|length != 0 %}
    alert('{{msg}}');
    window.location.href = "/tourpackage"
    {% endif %}

</script>

{% endblock %}